h1, h2>a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: black;  
}
div{
    padding-top: 25px;
}
h4, h4>a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
p{
    color: black;
}
p.proverb{
    font-style: italic;
}

body{
    background-image: url("tomato.jpg");
    background-size: cover;
    background-blend-mode: lighten;
}
img{
    border: black solid 2px;

}
article{
    background-color: white;
    width: 350px;
    padding:30px;
    
}